<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body class="bodyHomepage">
    <div class="containerHomepage">
        <h1 class="titleHomePage">Welcome to Discord Bot</h1>
        <a href="/chat"><button class="buttonHomePage">Chat</button></a>
        <a href="/tasks/add"><button class="buttonHomePage">Schedule a new message</button></a>
        <a href="/tasks"><button class="buttonHomePage">View existing scheduled messages</button></a>
    </div>
</body>
</html>